<h1 class="text-center">~~~Your task list~~~</h1>
<% @tasks.each do |task| %>
<div>
  <h2><%= task.title %></h2>
<!--   <p><%= task.description %></p>
 -->
</div>
<div>
  <%= link_to "Add new task", tasks_new_path %>
</div>
<% end %>
